.title {
}

head{
  margin: 0;
  border: 0;
  padding: 0;
}

body{
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #cfff9c
}

h1{
  text-align: center;
  color: white;
  background-color: #000a4d;
  width: 100%;
  margin: 0;
  font-size: 4vw;
  margin-bottom: 2vw;
  padding: 1.6vw;
}

h2{
  text-align: center;
  color: black;
  font-size: 2.5vw;
  padding-left: 5vw;
  padding-right: 5vw;
}


button{
  margin-top: 5vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: #000a4d;
  color:white;
  border-radius: 1vw;
  font-size: 2.5vw;
  cursor: pointer;
}

img{
  border-radius: 2vw;
}

.left-img{
  width: 20vw;
  float: left;
  margin-left: 12vw;
}

.right-img{
  width: 20vw;
  float: right;
    margin-right: 12vw;
}

button:hover{
  background-color:#17247a;
}


table{
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    overflow: hidden;
}

th{
  background-color: #000a4d;
  color: white;
  border: solid;
  border-color: black;
  font-size: 3vw;
  height: 3vw;
}

tr{
  height: 4vw;
  background-color: #ffffff;
}

tr:nth-child(even){
  background-color: #e8f7e2;
}

tr:hover{
  background-color: #dbdbdb;
}

td {
  border: solid;
  text-align: center;
  font-size: 2vw;
}

footer{
  clear: both;
  font-size: 1vw;
  margin-left: 1vw;
}
